<form action="/landmarks" method="post">
  Name: <input type="text" name="landmark[name]" id="landmark_name">
<br>
  Year completed: <input type="text" name="landmark[year_completed]" id="landmark_year_completed"></input>
<br>
  <input type="submit" value="Create New Landmark">
</form>