<table>
  <tr>
    <th>Name</th>
    <th>Landmarks</th>
  </tr>
  <tr>
    <td><%= @figure.name %></td>
    <% @figure.landmarks.each do |landmark| %>
      <td><%= landmark.name %></td>
    <% end %>
  </tr>
<table>
